# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Virtual environment
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test / local DB
test.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# Coverage
.coverage
htmlcov/

local_dev.db
